<% dataList.forEach((book) => { %>
    <tr>
        <td><%= book.title %> </td>
        <td><%= book.author %> </td>
        <td><%= book.category %> </td>
        <td><%= book.publisher %> </td>
        <td><%= book.price %> </td>
    </tr>
<% }) %>
