<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coctails</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;2,700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Coctails</h1>
    <ul>
        <li><a href="/">All</li></a>
        <% alcoholList.forEach(alcohol => { %>
            <li><a href="/?alcohol=<%= alcohol %>"><%= alcohol %></a></li>
        <% }); %> 
    </ul>
    <table>
        <thead>
            <tr>
                <th width="370">Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% coctailList.forEach(coctail => { %>
                <tr>
                    <td>
                        <dl>
                            <dt>
                                <%= coctail.name %>
                                <% if (!coctail.isAlcoholic) { %>
                                    <span> (non alcoholic)</span>
                                <% } %> 
                            </dt>
                            <dd><%= coctail.contains.join(', ') %> </dd>
                        </dl>
                    </td>
                    <td><%= coctail.price %> Ft</td>
                </tr>
            <% }); %> 

        </tbody>
    </table>
</body>
</html>